<% var genericdoc = client %>
<% var genericdocid = client._id %>
<% var genericdoctype = "Client" %>
<% var genericdoctypename = "client" %>
<% var genericdoctypeplurallink = "clients" %>
<% var genericdoctypelink = "client" %>
<% var genericdoctaxfields = "contenttypes:array:contenttype:doc:createable,primaryasset:single:asset:media:createable,parent:single:client:doc:static";
  ts_taxman_initial_placeholder ="Search existing assets, clients and contenttypes"; %>

<% include ../shared/header %>
<div class="ts-container">
  <div class="ts-text-container ts-genericdoc">
    
    <% include ../shared/genericdoc_compose_title %>

    <div class="ts-row">
      <div class="ts-col-span12">
        <div id="refresh-tabs" class="ts-tabs">
          <nav>
            <ul class="ts-col-span12 ts-text-center">
              <!-- <li class="ts-col-span3 ts-no-margin">Basic</li> -->
              <li class="ts-col-span3 ts-no-margin">Advanced</li>
            </ul>
          </nav>
          <div class="ts-tabs-content">
<!--             <section class="ts-no-padding">

              <form id="edit-<%- genericdoctypename %>-wysiwyg-form" name="edit-<%- genericdoctypename %>-form" class="ts-form async-admin-ajax-forms" method="post" action="/<%- locals.adminPath %>/content/<%- genericdoctypename %>/<%- genericdoc._id %>/edit"
              data-successsubmitfunction="refresh_content_attributes_media">
                < % include ../shared/compose_taxonomy_form %>
              </form>
            </section> -->
            <section class="ts-no-padding">
              <% include ../shared/genericdoc_show_doc %>
            </section>
          </div>
        </div>
      </div>
    </div>

    
  </div>
</div>
<!-- <script type="text/javascript" src="/extensions/periodicjs.ext.async_cms/js/cms.min.js"></script>
  < % var generictaxnomy = 'client' %>
  < % include ../shared/_new_generic_taxonomy_modal %>
  < % var generictaxnomy = 'category' %>
  < % include ../shared/_new_generic_taxonomy_modal %>
  < % var generictaxnomy = 'contenttype' %>
  < % include ../shared/_new_generic_taxonomy_modal %>
  < % var generictaxnomy = 'asset' %>
  < % include ../shared/_new_generic_asset_modal %> -->
<% include ../shared/footer %>