<% include ../shared/header %>
	<div class="ts-container">
		<div class="ts-row">
			<div class="ts-col-span8 ts-col-nofloat ts-screenmd-col-span12 ts-screensm-col-span12 ts-no-heading-margin ts-screenxs-col-span12">
				<h2 class="text-left"><%= pagedata.title %></h2>
				<div class="ts-document">
					<form action="/<%- adminPostRoute %>/user/activate" method="post" autocomplete="on" id="login_form" name="login_form" class="ts-form">
						<input type="hidden" name="_csrf" value=<%= locals.token %> >
						<div class="ts-row ts-form-row">
							<label for="email" class="control-label">activation token 
							<!-- <a href="/<%- adminPostRoute %>/user/activate">resend activation email</a> -->
							</label>
							<div class="controls">
									<input type="text" name="email" id="email" value="<%- user.email %>" disabled="disabled" />
							</div>
						</div>
						<div class="ts-text-center">
							<button type="submit" name="submit" class="ts-button ts-text-lg ts-button-accent-color ts-screenxs-width-90 ts-screensm-width-90 ts-screenmd-width-50"><i class="icon-ok icon-white"></i> resend activation email</button>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
<% include ../shared/footer %>