<div class="ts-row ts-form-row">
	<label class="ts-label">Username / Email </label>
	<input type="text" name="username" class="ts-col-span12 ts-input" placeholder="username or email@domain.com" autofocus />
</div>
<div class="ts-row ts-form-row">
	<label class="ts-label">Password</label>
	<input type="password" name="password" placeholder="password" class="ts-col-span12  ts-input"  />
	<div class="ts-col-span3 ts-screenmd-col-span6 ts-screensm-col-span6 ts-screenxs-col-span6">
		<label class="ts-label">Remember me</label>
		<input type="checkbox" name="rememberme" />	
	</div>
	<div class="ts-col-span3 ts-screenmd-col-span6 ts-screensm-col-span6 ts-screenxs-col-span6">
    <label class="ts-label"><a href="/<%- adminPostRoute %>/forgot">Forgot Password</a></label>
	</div>
</div>
<div class="ts-row ts-form-row ts-text-sm ts-text-center">
	<button type="submit" name="submit" class="ts-button ts-text-lg ts-button-accent-color ts-screenxs-width-90 ts-screensm-width-90 ts-screenmd-width-50 "><i class="icon-ok icon-white"></i> Login</button>
	<hr>
	<% if(locals.login_social_buttons.facebook){%>
		<a href="/<%- adminPostRoute %>/facebook" class="ts-button">Facebook login</a>
	<%}%>
	<% if(locals.login_social_buttons.twitter){%>
		<a href="/<%- adminPostRoute %>/twitter" class="ts-button">twitter login</a>
	<%}%>
	<% if(locals.login_social_buttons.instagram){%>
		<a href="/<%- adminPostRoute %>/instagram" class="ts-button">instagram login</a>
	<%}%>
	<a href="/<%- adminPostRoute %>/user/register" class="ts-button ts-button-primary-text-color">Register</a>
</div>
<input type="hidden" name="_csrf" value=<%- locals.token %> >
