<details class="ts-genericdoc">
  <summary>
    <div class="ts-genericdoc-hoveroptions ts-pull-right">
      <a href="/<%- locals.adminPath %>/content/<%- genericdoctypelink %>/<%- genericdoc._id %>/edit" class="async-admin-ajax-link"><img src="/extensions/periodicjs.ext.asyncadmin/img/icons/doc_edit_three.svg" alt="edit"  class="ts-icon async-admin-ajax-link" data-ajax-href="/<%- locals.adminPath %>/content/<%- genericdoctypelink %>/<%- genericdoc._id %>/edit" /></a>
      <a target="_blank" href=" <%if(locals.cms_item_route){%>  <%- locals.cms_item_route.replace(/%doc.name%/gi,genericdoc.name).replace(/%doc._id%/gi,genericdoc._id) %> <%}else{%>
        /item/<%- genericdoc.name%> <%}%> ">
      <img src="/extensions/periodicjs.ext.asyncadmin/img/icons/doc_view_two.svg" alt="view"  class="ts-icon" /></a>
      <a><img src="/extensions/periodicjs.ext.asyncadmin/img/icons/doc_delete.svg" alt="delete"  class="ts-icon ts-button-error-color ts-dialog-delete"  data-href="/<%- locals.adminPath %>/content/<%- genericdoctypelink %>/<%- genericdoc._id %>/delete" data-deleted-redirect-href="/<%- locals.adminPath %>/content/<%- genericdoctypeplurallink %>"/></a>
    </div>
    <%- genericdoc.title %>
    <small class="ts-text-divider-text-color">(<%- locals.viewhelper.moment(genericdoc.publishat).format('YYYY/MM/DD hh:mm:ssa') %>)</small>
    <hr>
  </summary>
  <aside class="ts-text-xs">
    <div class="ts-row">
      <div class="ts-screensm-col-span12 ts-col-span4 ">
        <% genericauthor = genericdoc.primaryauthor %> 
        <% include genericauthor_item %> 
      </div>
      <div class="ts-screensm-col-span12 ts-col-span4 ">
        <strong>Created Date:</strong> <%- locals.viewhelper.moment(genericdoc.createdat).format('YYYY/MM/DD - hh:mm:ssa') %>, 
      </div>
      <div class="ts-screensm-col-span12 ts-col-span4 ">
        <strong>Updated Date:</strong> <%- locals.viewhelper.moment(genericdoc.updatedat).format('YYYY/MM/DD - hh:mm:ssa') %> 
      </div>
    </div>
    <div class="ts-row">
      <div class="ts-screensm-col-span12 ts-col-span4 ">
        <strong>Content Types:</strong>
        <% generictaxomony = genericdoc.contenttypes %>
        <% include generictax_list_item %>
      </div>
      <div class="ts-screensm-col-span12 ts-col-span8 ">
        <strong>Parent <%- genericdoctypeplurallink %>:</strong>
        <% if(genericdoc.parent && genericdoc.parent.length>0){
          %>
          <small>
            <a href="/p-admin/content/<%- genericdoctypelink %>/<%- genericdoc.parent[0].name %>"><%- genericdoc.parent[0].title %></a>
          </small>
        <% } %>

      </div>
    </div>
  </aside>
</details>